.card {
    text-align: center;
    padding: 0;
    display: block;
    background-color: rgb(255, 255, 255);
    margin: 0;
    min-width: 250px;
    height: 520px;
    margin: 10px;
    border: 4px solid #cb2b99;
    transition: .4s;
}
.card:hover {
    cursor:pointer;
    transform: scale(1.05);
}