li {
    margin: 0;
}
p {
    margin: 0;
}

.job {
    overflow: hidden;
    display: block;
    background-color: #00afaa;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 40px 0;
    
}